header {
    width: 150px;

    .nav-list {
        
        .nav-item {
            font-size: 20px;
            margin: 2rem 0;
        }
    }

    #logout {
        font-size: 1.5rem;
        left: 10px;
        
    }
}